*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    font-size: 62.5%;
    background-color: #4ABDAC;
    margin: 0;
    padding: 0;
}
a:hover{
    color: #FC4A1A;
}
.contenedor{   
    display: grid;
    grid-template-columns: auto ;
}
nav{
    background-color: #FC4A1A;
}
.card-img-top{
    height: 150px;
    width: 250px;
}
.card{
    background-color: #DFDCE3;
    vertical-align: middle;
}
