body{
    font-size: 62.5%;
    background-color: #464242d3;
}
a:hover{
    background-color: #ffffff2f;
    color: #000000;
}
.logo{
    width: 100px;
    height: 50px;
    margin-bottom: 0;
}
a{
    color: #0c0c0d;
}
.titulo{
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: #c7131365;
    font-size: 2rem;
    padding: 10px 80px;
    text-decoration: underline;
}
.menu{
    background-color: #ff0000;
}
.menu ul{
    list-style:none ;
    }
.menu ul li{
   display: inline;
    margin: 1rem 1rem;
    text-decoration: none;
}
.menu ul li a{
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    }
h2{
    color:  #fff;
    background-color: #c7131365;
    text-decoration: underline;
}
.inicio h3{
    color:  #fff;
    background-color: #c7131365;
    font-size: 4rem;
    text-decoration: none;
}
.plato{
    display:line ;
    border-radius: 2rem;
    background-color: #033763;
}
.plato p{
    color: #fff;
    font-size: 1rem;
}
img{
    padding: 50px 50px;
    height: 11rem;
}
.plato h3{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
.combo{
    font-size: 2rem;
}
footer{
    font-weight: bold;
    background-color: #ff0000;
    color: #0d0d0d;
}
footer ul{
    list-style:none;
    display: inline-block;
}
footer ul li{
    margin-left: 1rem;
}
footer ul li a{
    text-decoration: none; 
    font-size: 1 rem;
}
 

